<launch>
<include file="$(find rosbot_ekf)/launch/rosserial_bridge.launch"/>
<include file="$(find rosbot_ekf)/launch/message_conversion.launch"/>
<include file="$(find rplidar_ros)/launch/rplider.launch"/>
<include file="$(find astra_launch)/launch/astra.launch"/>
<node name="image_view" pkg="image_view" type="image_view" output="screen">
<remap from="image" to="/camera/rgb/image_raw" />
</node>
<node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard"
type="teleop_twist_keyboard.py" output="screen">
    <param name="scale_linear" value="1.0" type="double"/>
    <param name="scale_angular" value="1.5" type="double"/>
  </node>
</launch>
